.initial-form {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}

.form-element {
  width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
  font-size: 18px;
}

.form-element > label {
  margin-bottom: 5px;
}

.form-input {
  background-color: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: inherit;
}
.form-input:focus {
  border-bottom-color: #61DAFB;
}
