.main-container {
  background-color: #282c34;
  color: white;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  overflow: auto;
}

.initial-form, .results {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
}

.form-inputs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form-element {
  width: 250px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
  font-size: 18px;
}

.form-element > label {
  margin-bottom: 5px;
}
.form-element > label > small {
  color: #888;
}

.form-input {
  background-color: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: inherit;
}
.form-input:focus {
  border-bottom-color: #61DAFB;
}

.form-submit-button {
  padding: 10px 30px;
  margin: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: inherit;
  cursor: pointer;
}
.form-submit-button:hover {
  background-color: #333;
  transition: all ease 0.35s;
}

.form-error {
  font-size: 12px;
  color: #d05f5f;
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.time-stats {
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #0007;
  border-radius: 4px;
}
.time-stats > * + * {
  margin-top: 10px;
}

.time-delta {
  display: flex;
  flex-direction: row;
}
.time-delta > * + * {
  margin-left: 10px;
}

.modify-delta-button {
  background-color: black;
  border: 1px solid #fff6;
  border-radius: 1px;
  color: white;
  outline: none;
}
.modify-delta-button[disabled] {
  background-color: #fff2;
}
.modify-delta-button:not([disabled]) {
  cursor: pointer;
}

.stop-button {
  background-color: red;
  border: 1px solid #a00;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 3px 15px;
  font-weight: 700;
}

.servers {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 15px;
}

.server-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server {
  width: 150px;
  height: 20px;
  background-color: #61DAFB;
}

.client {
  height: 45px;
  margin: 10px;
  position: relative;
}
.client > svg {
  height: 100%;
}

.rejected-client > svg {
  opacity: 0.5;
}

.reject-x {
  position: absolute;
  color: red;
  font-size: 60px;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 10;
}

.server-area + .server-area {
  margin-left: 15px;
}

.clients {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 15px;
}

.results > .block {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 10px);
}

.results > .block > .row {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  width: 100%;
}

.results > .block > .row > .column {
  text-align: center;
}

.results > .block > .row > .column:first-child {
  width: 20%;
}
.results > .block > .row > .column:not(:first-child) {
  width: 40%;
}

.table {
  max-width: 500px;
  margin: 0 auto;
}

.return-button {
  padding: 10px;
  margin: 10px;
  background-color: #ccc;
  color: #282c34;
  border: none;
  border-radius: 100%;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
}
