.main-container {
  background-color: #282c34;
  color: white;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.initial-form {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form-element {
  width: 250px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
  font-size: 18px;
}

.form-element > label {
  margin-bottom: 5px;
}
.form-element > label > small {
  color: #888;
}

.form-input {
  background-color: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: inherit;
}
.form-input:focus {
  border-bottom-color: #61DAFB;
}

.form-submit-button {
  padding: 10px 30px;
  margin: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: inherit;
  cursor: pointer;
}
.form-submit-button:hover {
  background-color: #333;
  transition: all ease 0.35s;
}

.form-error {
  font-size: 12px;
  color: #d05f5f;
}

.game {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.time-stats {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #0007;
  border-radius: 4px;
}
.time-stats > * + * {
  margin-top: 10px;
}

.time-delta {
  display: flex;
  flex-direction: row;
}
.time-delta > * + * {
  margin-left: 10px;
}

.modify-delta-button {
  background-color: black;
  border: 1px solid #fff6;
  border-radius: 1px;
  color: white;
  outline: none;
}
.modify-delta-button[disabled] {
  background-color: #fff2;
}
.modify-delta-button:not([disabled]) {
  cursor: pointer;
}

.servers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 15px;
}

.server {
  width: 150px;
  height: 20px;
  background-color: #61DAFB;
}

.server-area + .server-area {
  margin-left: 15px;
}
